.details{
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    padding: 2rem .5rem;
    justify-content: center;
    gap: 1.5rem;
    // align-items: center;
    .card1{
        
        // border: 1px solid #8397A2;
        width: 100%;
        padding: .5rem;
        flex-direction: column;
        flex-wrap: wrap;
        border-radius: 5px;
        
        img{
            height: 20rem;
            // width: 8rem;
            
        }
        .card-body1{
            margin-top: .5rem;
           
            .buttons{
                display: flex;
                flex-direction: column;
                gap: .5rem;
                .but{
                    padding: 1rem;
                    font-size: 1rem;
                    border: 1.5px solid #00293F;
                    color:#00293F;
                    width: 13.2rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    transition: .5s;
                
                }
    
                .colored{
                    background: #00293F;
                    color: white;
                    border: 1.5px solid #00293F;
                    &:hover{
                        border: 1.5px solid #00293F;
                        background: white;
                        color: #00293F;
                    }
                }
                .plain{
                    border: none;
                    background: white;
                    justify-content: flex-start;
                    padding: none;
                    border-bottom: gray 1px solid;
                }
            }
            
        }
        
    }

    .card-right{
        width: 60%;
        display: flex;
        flex-direction: column;
        .bio{
            border-bottom: rgb(204, 202, 202) 1.5px solid;
            .written{
                color: gray;
                span{
                    color: #1C555E;
                    font-weight: bold;
                }
            }
            .ratings{
                display: flex;
                align-items: center;
                gap: 1rem;
                .rev-stars{
                    color: #ED8F02;
                }
            }
        }
        .actions{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            margin-top: 1rem;
            gap: .5rem;
            .plain{
                border: none;
                background: white;
                display: flex;
                align-items: center;
                gap: 1rem;
                justify-content: flex-start;
                padding: none;
                cursor: pointer;
                color: #00293F;
                
            }
        }
        .description{
            width: 100%;
            overflow-wrap: break-word;
            
            h4{
                color:#00293F;
            }
            p{
                overflow-wrap:break-word;
                text-align: justify;
                color: grey;
                
            }
        }
    }
    
}
.car{
    // display: flex;
    // align-items: center;
    // justify-content: space-around;
    position: relative;
    .ball{
        position: absolute;
        color: white;
        font-size: 2.5rem;
        z-index: 500;
        cursor: pointer;
        background: rgba(0,0,0,.5);
    }
    .left{
        top: 50%;
        left: 0;
    }
    .right{
        top:50%;
        right: 0;
    }
    overflow: hidden;

    .carouselContainer{
        display: flex;
        width: 50%;
        justify-content: center;
        padding: 0 3rem;
        gap: 1.5rem;
        transform: translateX(0%);
        transition: all ease-in .5s;
    }
}